p {
    margin: 10px;
}
.body {
    margin-bottom: 50px;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-page-image {
    flex-basis: 100px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 100px;
}