.progress-section-container {
    flex-basis: 50%;
    display: block;
}

.progress-totals-container {
    display: block;
}

@media screen and (max-width: 675px) {
    .progress-section-container {
        flex-basis: 100%;
        margin: 0;
    }
}