.header {
    display: inline-block;
    width: 100%;
  }

#logo {
    height: 100px;
}

#id {
    float: left;
    padding: 10px;
}

#log-in {
    float: right;
    padding: 10px;
}

#contact-us {
    float: right;
    padding: 10px;
}