.dragon-details-container {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: auto;
    background-color: #ffa9ff;
}

.selected-dragon-container {
    display: flex; /* Make this a flex container */
    flex-basis: 100%;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
}

.selected-dragon-description {
    text-align: center;
}


@media screen and (max-width: 675px) {
    .dragon-details-container {
        flex-basis: 100%;
        margin: 0;
    }
}